<!DOCTYPE html>
<html>
<head>
	<title> OXIMOROS - Contacto </title>
	<meta charset= "utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<style type="text/css">
		.jumbotron{
			margin: 30px;
		}
	</style>
    <style>
body {
	background-color:  gray ;
}

h2 { 
	color: pink;
	text-align: center;

}
h3 { 
	color: pink;
	text-align: center;

}
h1 {
	color: pink ;
	text-align: center;
}

p {
	font-family: verdana;
	font-size: 20px;
}
</style>
</head>
<body>
<div class = "container-fluid">
	<nav class = "navbar navbar-expand-lg navbar-light bg-light">

		<a class="navbar-brand" href="/">Index</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls=" navbarNavAltMarkup" aria-expander="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/nosotros/"> Nosotros<a/>
				<a class="nav-item nav-link" href="/servicios/"> Servicios</a>

			
				

			</div>

		</div>
	</nav>
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
			<h1>Contáctanos</h1>
		    </div>
		</div>
	</div>

	<center>
		<div class="row">
			<div class="col-md-12">
				<h2> Celular: +56959041922 </h2>
				<p> Encentranos en Miguel campino #156, Local 2. Paine </p>
			</div>
		</div>
	</center>
	



	<center>
		<div class="row">
			<div class="col-md-12">
				<h2>   </h2>
			</div>
		</div>
	</center>
</div>
</body>
</html>
