<!DOCTYPE html>
<html>
<head>
    <title> OXIMOROS - Nosotros </title>
    <meta charset= "utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <style type="text/css">
        .jumbotron{
            margin: 30px;
        }
    </style>
    <style>
body {
    background-color:  gray ;
}

h4 { 
    color: lightpink;
    text-align: center;
}
h1 {
    color: pink;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>
<body>
<div class = "container-fluid">
    <nav class = "navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="/">Index</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls=" navbarNavAltMarkup" aria-expander="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/servicios/"> Servicios<a/>
                <a class="nav-item nav-link" href="/contacto/"> Contacto </a>
                <a class="nav-item nav-link" href="/reserva/"> Reserva aquí </a>


            
                

            </div>

        </div>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
            <h1>Reserva con nosotros </h1>
            </div>
        </div>
    </div>

    <center>
        <div class="row">
            <div class="col-md-12">
                <h4> Somos una pareja de peluqueros que busca entregar un buen servicio a la comunidad y en especial a nuestros clientes a travez de los cambios de estilo que realizamos, haremos todo para que salga completamente satisfecho o satisfecha de nuestra peluquería y con la intención de volver a ella.  </h4>
            </div>
        </div>
    </center>

<section id="agregar">
    <div class="container">
        <form method="POST" action="/add_proyecto"> {% csrf_token %}     
            <div class="form-group">
                <label for="exampleInputTexto">Ingrese su nombre </label>
                <input type="text" class="form-control" id="exampleText" placeholder="Ingrese texto" name="nombre">
            </div>
            <br>
            <div class="form-group ">
                    <div class="row">
                    <label class="exampleInputEmail1" >Ingrese su email</label>
                    <input type="email" class="form-control" id='exampleEmail' placeholder="Ingrese email" name="correo">
                    </div>
                </div>
            <br>
            <div class="form-group">
                <label for="exampleInputTexto">Número de contacto</label>
                <input type="number" class="form-control" id="exampleText" placeholder="Ingrese teléfono" name="numero">
            </div>
            <br>
            <div class="form-group row">
                <div class="row">
                    <label class="col-sm-3 col-form-label" for="fecha">Fecha reserva </label>
                    <input type="date" id="fecha_limite" name="fecha">
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="mr-3">
                    <input type="radio" class="mr-1" name="servicio" id="servicio" value="CORTE"> Cortes
                </label>
                <label class="mr-3">
                    <input type="radio" class="mr-1" name="servicio" id="servicio" value="TIN"> Tintura
                </label>
                <label class="mr-3">    
                    <input type="radio" class="mr-1" name="servicio" id="servicio" value="MAQ"> Maquillaje 
                </label>
                <label class="mr-3">
                    <input type="radio" class="mr-1" name="servicio" id="servicio" value="DEP"> Depilación
                </label>
                <label class="mr-3">
                    <input type="radio" class="mr-1" name="servicio" id="servicio" value="ODP"> Ondulación de Pestañas
                </label>
                <label class="mr-3">
                    <input type="radio" class="mr-1" name="servicio" id="servicio" value="MAN"> Manicure 
                </label>
                <label class="mr-3">
                    <input type="radio" class="mr-1" name="servicio" id="servicio" value="PED"> Pedicure 
                </label>
                <label class="mr-3">
                    <input type="radio" class="mr-1" name="servicio" id="servicio" value="BAR"> Barbería 
                </label>
            </div>
            <br>
            <div class="form-group">
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="inputCheck1">
                <label class="form-check-label" for="exampleCheck1">Desea recibir información sobre OXIMOROS </label>
            </div>
            </div>
            <br>
        </div>
        <input type="submit">
        </form>
    </div>
</section>
    

    <center>
        <div class="row">
            <div class="col-md-12">
                <h2>  </h2>
            </div>
        </div>
    </center>
</div>
</body>
</html>
